{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teachers Pet</title>
  </head>
  {% if user.is_authenticated %}
  <body>
    <h1>Teachers Pet</h1>
    {% include "website/navbar.html" %}
    <h1>Welcome {{ user.username }}!</h1>
    {% else %}
<h1>Welcome To Teachers Pet</h1>
<form action="/login" method='get'>
  <input type="submit" value="Login">
</form>
<form action="/register" method='get'>
  <input type="submit" value="Register">
</form>
    {% endif %}
  </body>
</html>