{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/main.css' %}" />

<nav class="navbar navbar-dark bg-dark">
  <form action="/" method='get'>
    <input type="submit" value="Home">
  </form>
  <form action="/students" method='get'>
    <input type="submit" value="Students">
  </form>
  <form action="/courses" method='get'>
    <input type="submit" value="Courses">
  </form>
  <form action="/logout" method='get'>
    <input type="submit" value="Logout">
  </form>
  <form action="/login" method='get'>
    <input type="submit" value="Login">
  </form>
</nav>