{% extends "website/index.html" %}


{%block content%}

<!-- edit the details on a specific class -->
<div class="screenAdjust">
<h2>Change Class</h2>

<div>
  
  <form action="{% url 'website:courseEdit' course.id %}" method="POST">
    {% csrf_token %}
    <!-- display the specific class level -->
    Class Level: <select name="level" id="level" value="{{course.level}}">
      {% for skills in skill_list %}
      <!-- set the default values in the dropdowns-->
      {% if skills.id == course.level.id %}
      <option value="{{skills.id}}" selected>{{skills.level}}</option>
      {% else %}
      <option value="{{skills.id}}">{{skills.level}}</option>
      {% endif %}
      {% endfor %}
    </select>
    <!-- list the meeting details of the course -->
    Location: <input type="text" name="location" value="{{course.location}}" required=true>

    Meeting Days: <input type="text" name="days" value="{{course.days}}" required=true>

    Meeting Time: <input type="text" name="time" value="{{course.time}}" required=true>
    
    <input class="btn btn-dark" type="submit" value="Save new class">
  </form>
</div>
</div>
{%endblock%}