{% extends "website/index.html" %}


{% block content %}

<div class="screenAdjust">

<h2>Courses</h2>

<h4>Here are all of your classes, {{user.username}}</h4>
{% for course in course_list %}
  <ul>
    <li><a href="{% url 'website:courseDetails' course.id %}">{{ course.location }} - {{ course.level.level }}</a></li>
      <p>Number of Students: {{ course.classroom_set.all|length}}</p>
  </ul>
  <br>
{% endfor %}

<h3>Add a class</h3>
<div>
    <form action="/addCourse" method='get'>
      <input class="btn btn-dark" type="submit" value="Add A Class">
    </form>
  </div>
</div>
{% endblock content %}