{%block content%}

<h1>Add a student</h1>

<div>
  <form action="{% url 'website:addStudent' %}" method="POST">
    {% csrf_token %}

    First Name: <input type="text" name="firstName" placeholder="First Name" required=true>

    Last Name: <input type="text" name="lastName" placeholder="Last Name" required=true>

    Email: <input type="email" name="email" placeholder="example@email.com" required=true>

    Phone: <input type="text" name="phone" placeholder="(xxx)-xxx-xxxx" required=true>

    Native Language: <input type="text" name="nativeLanguage" placeholder="Student's Native Language" required=true>

    Overall Skill Level: <select name="skillLevel" id="skillLevel">
        {% for skills in skill_list %}
        <option value="{{skills.id}}">{{skills.level}}</option>
        {% endfor %}
      </select>

    Speaking Skill: <select name="speaking" id="speaking">
        {% for skills in skill_list %}
        <option value="{{skills.id}}">{{skills.level}}</option>
        {% endfor %}
      </select>

    Vocabulary Skill: <select name="vocabulary" id="vocabulary">
        {% for skills in skill_list %}
        <option value="{{skills.id}}">{{skills.level}}</option>
        {% endfor %}
      </select>

    Writing Skill: <select name="writing" id="writing">
        {% for skills in skill_list %}
        <option value="{{skills.id}}">{{skills.level}}</option>
        {% endfor %}
      </select>
    
    <input type="submit" value="Save Student">
  </form>
</div>
{%endblock%}