{%block content%}

{% include "website/navbar.html" %}

<h1>{{ studentDetails.firstName }} {{ studentDetails.lastName }} Details</h1>
<br>
  
<h3>Overall Level</h3>
<p>{{ studentDetails.skillLevel.level }} </p>

<h3>Individual Scores</h3>
<ul>
  <li>Speaking: {{ studentDetails.speaking.level }}</li>
  <li>Reading: {{ studentDetails.reading.level }}</li>
  <li>Vocabulary: {{ studentDetails.vocabulary.level }}</li>
</ul>

<div>
  <form action="/studentEditForm/{{studentDetails.id}}" method='get'>
    <input type="submit" value="Edit Student">
  </form>
</div>

<div>
  <form action="/studentDelete/{{studentDetails.id}}" method='post'>
    {% csrf_token %}
    <input type="submit" value="Delete Student">
  </form>
</div>

{%endblock%}