<h1>Students</h1>

{% include "website/navbar.html" %}


<h4>Here are all of your registered students</h4>
<ul>
  {% for student in student_list %}
    <li><a href="{% url 'website:studentDetails' student.id %}">{{ student.firstName }} {{ student.lastName }} </a>
      <p>Student Level: {{ student.skillLevel.level }}
      </p>
    </li>
  {% endfor %}
</ul>

<h4>Add a Student</h4>

<div>
    <form action="/addStudent" method='get'>
      <input type="submit" value="Add A Student">
    </form>
  </div>