{% extends "website/index.html" %}


{% block content %}

<!-- show list of all students added by a registered teacher -->
<div class="screenAdjust">
<h2>Students</h2>

<h4>Here are all of your registered students, {{ user.username }}</h4>
<!-- find the names and information of students in the DB -->
<div class="container">
  <div class="row">
{% for student in student_list %}

<!-- make their names a clickable link that takes a user to the students detail page -->

<ul class="card student-card">
    <li class="card-title"><a href="{% url 'website:studentDetails' student.id %}">{{ student.firstName }} {{ student.lastName }} </a>
    </li>
      <p class="card-subtitle mb-2 text-muted">Student Level: {{ student.skillLevel.level }}</p>
  </ul>
  {% endfor %}
  </div>
</div>
  
  <!-- create a new student button -->
  <div class="add-button">
    <form action="/addStudent" method='get'>
      <input class="btn btn-dark student-add-button" type="submit" value="Add A Student">
    </form>
  </div>
</div>
{% endblock content %}