{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>



        <h1>Login to Teachers' Pet</h1>

        <form  class="form-group" id="login_form" method="post" action="{% url 'website:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Log In" />
          </form>
          <p>Or if you are new you can register here</p>
          <form action="/register" method='get'>
            <input type="submit" value="Register">
          </form>
    </body>
</html>
