<!DOCTYPE html>
<html>
    <head>
        <title>Bangazon</title>
    </head>

    <body>
        <h1>Login to Teachers Pet</h1>

        <form id="login_form" method="post" action="{% url 'website:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Log In" />
          </form>
          <p>Or if you are new you can register here</p>
          <form action="/register" method='get'>
            <input type="submit" value="Register">
          </form>

    </body>
</html>