{% extends "website/index.html" %}


{%block content%}

<div class="screenAdjust">
<h1>{{ courseDetails.location }} - {{ courseDetails.level.level }}</h1>
<ul class="courseDetails">
  <li>Meeting Time: {{ courseDetails.time }} </li>
  <li>Days: {{ courseDetails.days}}</li>
  <li>Start Date: {{ courseDetails.startDate}}</li>
  <li>End Date: {{ courseDetails.endDate}}</li>
</ul>
<div>
  <form action="/courseEditForm/{{courseDetails.id}}" method='get'>
    <input class="btn btn-outline-dark" type="submit" value="Edit Course Details">
  </form>
</div>
<h3> Students In This Course</h3>  
{% for classroom in courseDetails.classroom_set.all %}
<ul class="courseDetails">{{ classroom.student.firstName }}  {{ classroom.student.lastName}}
  <li>Overall Skill Level - {{ classroom.student.skillLevel.level}} </li>
  <li>Speaking Level - {{ classroom.student.speaking.level}} </li>
  <li>Reading Skill Level - {{ classroom.student.reading.level}} </li>
  <li>Vocabulary Skill Level - {{ classroom.student.vocabulary.level}} </li>

  <div>
    <form action="/studentEditForm/{{classroom.student.id}}" method='get'>
      <input class="btn btn-outline-info" type="submit" value="Update Student">
    </form>
  </div>
</ul>
  {% endfor %}
  <div>
    <form action="/courseDelete/{{courseDetails.id}}" method='post'>
      {% csrf_token %}
      <input class="btn btn-outline-danger" type="submit" value="Delete Course">
    </form>
  </div>
</div>
{%endblock%}